*{
    margin: auto;
    box-sizing: border-box;
    text-decoration: none;
    font-family: monospace;
    color: #F8F8F2;
}

body{
    background-color: #282A36;
}

.body{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.left{
    background-color: #44475A;
    display: flex;
    width: 33%;
    height: 100%;
}

.right{
    display: flex;
    width: 67%;
    height: 100%;
}

.me{
    display: flex;
    flex-direction: column;
}

.headshot{
    height: 108px;
    width: 120px;
    border-radius: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.links{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.social{
    height: 25px;
}

@media only screen and (max-device-width: 834px){
    .body{
        flex-direction: column;
    }
    .left{
        width: 100%;
        height: 20%;
    }
    .right{
        height: 80%;
    }

    .social{
        height: 50px;
    }

    h1{
        font-size: 30pt;
    }
}