*{
  margin: auto;
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: #000;
  font-family: monospace;
  background-color: #44475A;
  color: #e7e7e7;
}

#container {
  left: 0px;
  top: -100px;
  height: calc(100vh + 100px);
  width: 100vw;
  overflow: hidden;
  position: relative;
  display: flex;
}

#animate{
  margin: 0 auto;
  width: auto;
  overflow: visible;
  position: relative;
  display: flex;
}

.glass{
  margin: auto;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 50;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.headshot{
  height: 108px;
  width: 120px;
  border-radius: 50%;
}

.links{
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.social{
  height: 25px;
}
